@font-face {
  font-family: "Bariol";
  src: url(../font/Bariol_Regular.otf) format("truetype");
}

body {
  background-color: #ecf0f1;
  text-align: justify;
  font-family: "Helvetica";
}

.form-signin {
  max-width: 335px;
  padding: 19px 29px 29px;
  background-color: #fff;
  /*border: 1px solid #e5e5e5;*/
  /*-webkit-border-radius: 5px;*/
  /*-moz-border-radius: 5px;*/
  /*border-radius: 5px;*/
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
  -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
  box-shadow: 0 1px 2px rgba(0,0,0,.05);
}
      
.form-signin .form-signin-heading,
.form-signin .checkbox {
        margin-bottom: 10px;
}

.form-signin input[type="text"],
.form-signin input[type="password"] {
  font-size: 16px;
  height: auto;
  margin-bottom: 15px;
  padding: 7px 9px;
}

form a {
  text-align: left;
  margin-left: 20px;
  font-size: 12px;
}

.nav-bar-inverse .navbar-inner {
  background-color: #2c3e50 !important;
}

.nav > #home-menu > a{
  border-bottom: 3px solid #34495e;
}

.nav > li > a {
  color: #fff;
  line-height: 43px;
  vertical-align: middle;
  transition: all 0.5s ease-out; 
  border-bottom: 3px solid #34495e;
}

.menu li a {
  padding-left: 40px!important;
  padding-right: 40px!important;
}

.nav > li > a:hover {
  /*background: #2c3e50;
  border-bottom: 1px solid #2c3e50;*/
  border-bottom: 3px solid #34B196;
  background: #34495e;
  transition: all 0.5s ease-out; 
}

.menu {
  margin-left: 50px !important;
}

.main-home {
  margin-top: 60px;
  color: #34495e;
}

.main-home h1 {
  color: #34495e;
  text-shadow: 3px 3px 0px #34B196;
  font-size: 80px;
  margin-top: 50px;
  margin-bottom: 40px;
  font-family: "Bariol";
}

.main-home p{
  font-size: 16px;
  line-height: 26px;
}

.main-home form h2,
.span3 h2 {
  color: #34495e;
  text-shadow: 1px 1px 0px #34B196;
  font-size: 30px;
  font-family: "Bariol";
  font-weight: bold;
}

.bt_valid {
  background: #1abc9c;
  color: white;
  padding: 8px 18px;
  border-bottom: 2px solid #16a085;
  transition: all 0.5s ease-out; 
}

.bt_valid:hover {
  background: #049B7D;
  color: white;
  padding: 8px 18px;
  border-bottom: 2px solid #007056;
  transition: all 0.5s ease-out; 
}

#logo {
  width: 40px;
  height:auto;
}

#home-menu a{
  color: #ffffff;
  text-shadow: none;
  font-family: "Bariol";
  font-size: 22px;
  vertical-align: middle;
}

.oiseau {
  height: 190px;
  margin-top: 30px;
  margin-left: 20px;
}

#rappel_div {
  position: absolute;
  background: rgba(52, 73, 94,0.7);
  border: 3px solid rgba(26, 188, 156,1.0);
  height: 280px;
  width: 420px;
  margin-left: 50%;
  display: block;
  left: -238px;
  margin-top: 5px;
}
#rappel_div:after, #rappel_div:before {
  bottom: 100%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

#rappel_div:after {
  border-color: rgba(136, 183, 213, 0);
  border-bottom-color: rgba(26, 188, 156,1.0);
  border-width: 10px;
  left: 50%;
  margin-left: -10px;
}
#rappel_div:before {
  border-color: rgba(194, 225, 245, 0);
  border-bottom-color: rgba(26, 188, 156,1.0);
  border-width: 14px;
  left: 50%;
  margin-left: -14px;
}

#rappel_div {
  display: none;
}

#rightbar h2{
  text-align: center;
}

#rightbar a {
  font-size: 15px;
}

#rightbar {
  border: 1px solid black;
}
